{% load static %}
    
    <!--========== FOOTER ==========-->
    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">BAYKAR</a>
                <span class="footer__description">Sosyal Medya</span>
                <div>
                    <a href="https://www.facebook.com/BaykarTech/" class="footer__social"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/baykartech/?hl=tr" class="footer__social"><i class='bx bxl-instagram'></i></a>
                    <a href="https://twitter.com/BaykarTech" class="footer__social"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">GELECEĞİMİZ</h3>
                <ul>
                    <li><a href="https://baykartech.com/tr/merkezi-komuta-kontrol/" class="footer__link">Merkezi Komuta Kontrol</a></li>
                    <li><a href="https://baykartech.com/tr/bayraktar-tb3/" class="footer__link">BAYRAKTAR TB3</a></li>
                    <li><a href="https://baykartech.com/tr/yapay-zeka/" class="footer__link">Yapay Zeka</a></li>
                    <li><a href="https://baykartech.com/tr/cezeri-ucan-araba/" class="footer__link">Cezeri Uçan Araba</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Adres</h3>
                <ul>
                    <li>Baykar Milli</li>
                    <li> S/İHA Sistemleri</li>
                    <li> Ar-Ge ve Üretim Tesisi</li>
                </ul>
            </div>
        </div>

        <p class="footer__copy">&#169; 2024 Tüm hakları saklıdır.</p>
    </footer>

    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--========== MAIN JS ==========-->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>